<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="b-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `b-element`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class BElement extends Polymer.Element {
      static get is() { return 'b-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'b-element'
          }
        };
      }
    }

    window.customElements.define(BElement.is, BElement);
  </script>
</dom-module>
