<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="b-element">
  <template>
    <style>
      /* :host {
        display: block;
      } */

      h2 {
        text-align: center
      }

      ul {
        margin: 0 auto;
        width: fit-content;
      }
    </style>
    <section>
      <h2>[[title]]</h2>
      <ul>
        <template is="dom-repeat" items="[[frutas]]">
          <li>[[item]]</li>
        </template>
      </ul>
    </section>
  </template>

  <script>
    /**
     * `b-element`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class BElement extends Polymer.Element {
      static get is() {
        return 'b-element';
      }
      static get properties() {
        return {
          frutas: {
            type: Array,
            value: () => ['manzana', 'mango', 'uva', 'naranja', 'mandarina']

          },
          title: {
            type: String,
            value: 'Lista de Elementos'
          }
        };
      }
    }

    window.customElements.define(BElement.is, BElement);
  </script>
</dom-module>